<!DOCTYPE html>
<html lang="en">

<head>
   <title>Calciatori Milan stagione 22/23</title>
   <link rel="stylesheet" href="../static/css/calciatori.css" </head>

<body>

   <h1 class="centro">AC MILAN STAGIONE 22/23</h1>
   <div class="center-image">


    <div>
      <a href="https://www.acmilan.com/it"> <img src="../static/images/acmilan.jpg" /> </a>
    </div>
   
      <hr>
  
       <div> 
      <a href="https://www.youtube.com/watch?v=DnZ0VGripq0"> <img src="../static/images/scudetto.jpg" /> </a>
       </div> 
     
   </div>   
   




</body>












</html>